.banner{
    padding:.2rem;
    /* color: aliceblue; */
    overflow-x: hidden;
    /* width: 100vw; */
    background: rgba(0, 0, 0, .5);
     border-top : solid 1px #da283d;
     border-bottom : solid 1px #da283d;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 35;
    /* scroll-snap-align: start; */

    
}

.timings{
    text-align: center;
    font-family: GtEestiProDisplay;
    vertical-align: center;
    font-size: 1.5rem;
    /* display: flex;
    align-items: center; */
    /* margin: .5rem 0rem; */
    padding: .3rem;

    /* min-width: fit-content; */
    /* background: blue; */
    /* border-right: solid 3px white; */
    /* color: #da283d; */
}