@font-face {
    font-family:playfairDisplay;
    src: url('src/views/styles/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}
/* @font-face {
    font-family:GT-Eesti-Pro-Display-Regular;
    src: url('src/views/styles/fonts/GT-Eesti-Pro-Display-Regular.ttf');
} */
:root{
    background: #000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    scrollbar-width: none;
    /* scrollbar-width: thin; */
    /* scroll-behavior: smooth; */
}

body{
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow-x: hidden;
    font-family: 'playfairDisplay', serif;
    color: white;
    scroll-behavior: auto;
    scrollbar-width: thin;
}