@font-face {
    font-family:PlayfairDisplay;
    src: local('PlayfairDisplay') url(src/views/styles/fonts/PlayfairDisplay-VariableFont_wght.ttf);
} 
 @font-face {
    font-family:GT-Eesti-Pro-Display-Regular;
    src: local('GT Eesti Pro Display') url(src/views/styles/fonts/GT-Eesti-Pro-Display-Regular.ttf);
}
:root{
    background: #000;
}

html{
    scroll-snap-type: y mandatory;
    /* scroll-padding: 20%; */
    scroll-padding: 6rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    scrollbar-width: none;
    /* scroll-snap-type: none; */
    /* scrollbar-width: thin; */
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow-x: hidden;
    font-family: PlayfairDisplay, sans-serif;
    color: white;
    scroll-behavior: auto;
    scrollbar-width: thin;
    scroll-snap-type: y mandatory;
    scroll-padding: 6rem;
}