.parentNavbar{
    position: sticky;
    z-index: 40;
    margin: 0;
    top: 0;
    height: 6rem;
    /* background: rgba(0, 0, 0, .5); */
}

.navbar{
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(25px);
    color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    z-index: 4;
    position: relative;
}

.logo{
    transform: scale(.999);
}

.hamburger{
    font-weight: 100;
    margin-right: .3rem;
    font-size: 2.5rem;
}