.programs{
    background: #000;
    font-weight: 100;
    /* font-family: 'playfairDisplay' */
        scroll-snap-type: y mandatory;
    scroll-padding: 10%
   
    

}
.event{
    margin: 1rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    /* width: 100%; */
   
}

.programImage{
    /* height: 68vh; */
    width: 100%;
    /* display: block; */
    margin-top: 1rem;
    border-radius: .3rem;
    /* border: 5px double #da283d; */
    object-fit: contain;
    /* padding: .5rem; */
}

.programHeading{
    font-size: 2rem;
    margin: 1rem .5rem;
    text-align: center;
    font-family: PlayfairDisplay;
    
}

.programDate{
    font-size: 1.5rem;
    border-bottom: 1px solid #da283d;
    padding-bottom: .5rem;
    opacity: .7;
    font-family: serif;
    font-style: italic;
    margin: 0 .6rem;
    text-align: center;
}

.calendar{
    /* border: solid 1px white; */
    text-align: center;

    margin: 2rem;
    padding: 1rem;
   /* display: block; */
   min-width: 50vw;
   justify-self: center;
   font-family: PlayfairDisplay;
   font-weight: 100;
    background: #da283d;
    border-radius: .3rem;
    transition: .1s ease;
    font-size: .7rem;
    scroll-snap-align: end;
    scroll-snap-stop: normal;

}
.calendar:hover {
    background: white;
    color:#da283d;
}
.calendar:active{
    background: #da283d;
    color: white;
}

@media (min-width: 720px){
    .programs{
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .event{
        width: 47.4vw;
    }
    .calendar{
        display: inline-block;
        height: max-content;
    }
}